<html>
	<head>
		<link rel="stylesheet" type="text/css" href="https://googledrive.com/host/0B8z8ereLRdjhWkFKVVFHNHE3Rzg">
<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="https://googledrive.com/host/0B8z8ereLRdjhTUxYQWhpbHQtcE0"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<title>Life's Blog</title>
		
	</head>
	<body >
	<div id ="header">
		
		<ul>
		<li><a data-scroll class="blogname" href="#main"><b>What About Today?</b> </a></li>
		</ul>		
	</div>
	<header class="navbar navbar-default navbar-static-top">
		<div class="col-md-4">
			
		<img src="b-w.jpg" class="img-circle" style=" width:40; height:40;">		
		<span class="text"><b>log</b></span>
		</div>
		<div class="col-md-8">
			<ul class="nav navbar-default navbar-nav">
			<li class="active"><a href="">Menu1</a></li>
			<li><a href="">Menu2</a></li>
			<li><a href="">Menu3</a></li>
			<li><a href="">Menu4</a></li>
			<li><a href="">Menu5</a></li>
			<li><a href="">Menu6</a></li>
		</ul>
		</div>
		</header>

	<div data-scroll id="main" class="menubody">
	<img src="https://googledrive.com/host/0B8z8ereLRdjhRjNPNmoyTjFvYVk">
	<div class="hidden">
	<a href=""><b>My Daily Life</b> </a>
	</div>
	</div>
	<div class="menubody2">
	<img src="https://googledrive.com/host/0B8z8ereLRdjhcExTT25ZTWJ1UFk">
	<div class="hidden2">
	<a href=""><b>Child Hood</b> </a>
	</div>
	</div>
	<div class="menubody3">
	<img src="https://googledrive.com/host/0B8z8ereLRdjhci11aHRKTXZFcTA">
	<div class="hidden3">
	<a href=""><b>My Big Dream</b> </a>
	</div>
	</div>
	</body>
	<script>
	smoothScroll.init();
	</script>
</html>