<html>
	<head>
		<link rel="stylesheet" type="text/css" href="https://googledrive.com/host/0B8z8ereLRdjhdUF5dVVyV0JsdXc">
		<link rel="stylesheet" type="text/css" href="https://googledrive.com/host/0B8z8ereLRdjhMHM2cmZPWE1IVW8">
		
		<script src="smooth-scroll-master/dist/js/bind-polyfill.js"> </script>
		<script src="smooth-scroll-master/dist/js/smooth-scroll.js"> </script>
		<title>Concept3</title>
		
	</head>
	
	<body>
		<div id="word-top"><span style="font-size: 60px;
			color: #FF613C;">Everyone Deserves</span><hr><span style="font-size: 30px;
			color: white;">You have your own life. Dont be another!</span>
		</div>
		<div id="img-top"></div>
		<!-- header-->
		<header class="navbar navbar-inverse navbar-static-top">
		<div class="col-md-4">		
		</div>
		<div class="col-md-8">
			<ul class="nav navbar-nav">
			<li class="active"><a href="">Menu1</a></li>
			<li><a href="">Menu2</a></li>
			<li><a href="">Menu3</a></li>
			<li><a href="">Menu4</a></li>
			<li><a href="">Menu5</a></li>
			<li><a href="">Menu6</a></li>
		</ul>
		</div>
		</header>

		<!--main-->
		<div id="main">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
					<div class="post">
						<div class="panel panel-default">
							<div class="panel-heading">
							<h3 class="panel-title"><h2><a href="">Tiêu đề</a></h2></h3>
							</div>
							<div class="panel-body">Tính từ 
								Có liên quan đến
								relative evidence
								bằng chứng liên quan
								to give facts relative to the matter
								đưa ra những sự việc liên quan đến vấn đề
								Cân xứng với, cân đối với, tuỳ theo
								supply is relative to demand
								số cung cân xứng với số cầu
								beauty is relative to the beholder's eyes
								vẻ đẹp là tuỳ theo ở mắt của người nhìn
								(ngôn ngữ học) quan hệ, có liên quan đến (một danh từ..)
								relative pronoun
								đại từ quan hệ
								Tương đối; so sánh
								the relative merits of the two plans
								những giá trị tương đối của hai kế hoạch
								Danh từ 
								Người bà con thân thuộc, người có họ
								a distant relative
								người bà con xa, người có họ xa
								(ngôn ngữ học) đại từ quan hệ (như) relativeỵpronoun </div>
							<div class="panel-footer">
								<span class="glyphicon glyphicon-tags"><a href="">  tag1</a>,<a href="">tag2</a></span>
							</div>

							<div class="panel-heading">
							<h3 class="panel-title"><h2><a href="">Tiêu đề</a></h2></h3>
							</div>
							<div class="panel-body">Tính từ 
								Có liên quan đến
								relative evidence
								bằng chứng liên quan
								to give facts relative to the matter
								đưa ra những sự việc liên quan đến vấn đề
								Cân xứng với, cân đối với, tuỳ theo
								supply is relative to demand
								số cung cân xứng với số cầu
								beauty is relative to the beholder's eyes
								vẻ đẹp là tuỳ theo ở mắt của người nhìn
								(ngôn ngữ học) quan hệ, có liên quan đến (một danh từ..)
								relative pronoun
								đại từ quan hệ
								Tương đối; so sánh
								the relative merits of the two plans
								những giá trị tương đối của hai kế hoạch
								Danh từ 
								Người bà con thân thuộc, người có họ
								a distant relative
								người bà con xa, người có họ xa
								(ngôn ngữ học) đại từ quan hệ (như) relativeỵpronoun </div>
							<div class="panel-footer">
								<span class="glyphicon glyphicon-tags"><a href="">  tag1</a>,<a href="">tag2</a></span>
							</div>

							<div class="panel-heading">
							<h3 class="panel-title"><h2><a href="">Tiêu đề</a></h2></h3>
							</div>
							<div class="panel-body">Tính từ 
								Có liên quan đến
								relative evidence
								bằng chứng liên quan
								to give facts relative to the matter
								đưa ra những sự việc liên quan đến vấn đề
								Cân xứng với, cân đối với, tuỳ theo
								supply is relative to demand
								số cung cân xứng với số cầu
								beauty is relative to the beholder's eyes
								vẻ đẹp là tuỳ theo ở mắt của người nhìn
								(ngôn ngữ học) quan hệ, có liên quan đến (một danh từ..)
								relative pronoun
								đại từ quan hệ
								Tương đối; so sánh
								the relative merits of the two plans
								những giá trị tương đối của hai kế hoạch
								Danh từ 
								Người bà con thân thuộc, người có họ
								a distant relative
								người bà con xa, người có họ xa
								(ngôn ngữ học) đại từ quan hệ (như) relativeỵpronoun </div>
							<div class="panel-footer">
								<span class="glyphicon glyphicon-tags"><a href="">  tag1</a>,<a href="">tag2</a></span>
							</div>

							<div class="panel-heading">
							<h3 class="panel-title"><h2><a href="">Tiêu đề</a></h2></h3>
							</div>
							<div class="panel-body">Tính từ 
								Có liên quan đến
								relative evidence
								bằng chứng liên quan
								to give facts relative to the matter
								đưa ra những sự việc liên quan đến vấn đề
								Cân xứng với, cân đối với, tuỳ theo
								supply is relative to demand
								số cung cân xứng với số cầu
								beauty is relative to the beholder's eyes
								vẻ đẹp là tuỳ theo ở mắt của người nhìn
								(ngôn ngữ học) quan hệ, có liên quan đến (một danh từ..)
								relative pronoun
								đại từ quan hệ
								Tương đối; so sánh
								the relative merits of the two plans
								những giá trị tương đối của hai kế hoạch
								Danh từ 
								Người bà con thân thuộc, người có họ
								a distant relative
								người bà con xa, người có họ xa
								(ngôn ngữ học) đại từ quan hệ (như) relativeỵpronoun </div>
							<div class="panel-footer">
								<span class="glyphicon glyphicon-tags"><a href="">  tag1</a>,<a href="">tag2</a></span>
							</div>
						</div>
					</div>
					</div>
					<!-- end col-md8-->

					<div class="col-md-4 sidebar">
						<div class="panel panel-info">
							<div class="panel-heading"> Bài mới</div>
							<div class="panel-body">
								<ul>
									<li><a href="">Bài 1</a></li>
									<li><a href="">Bài 2</a></li>
									<li><a href="">Bài 3</a></li>
									<li><a href="">Bài 4</a></li>
								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	<script>
	smoothScroll.init();
	</script>
</html>